<section class="container-coiffure">
  <div class="cover" [ngStyle]="{'background-image':'url(' + coiffure.image + ')'}" >
    <div class="container-text">
      <div class="text">
        {{coiffure.name}}
        <span>By {{coiffure.coiffeurName}}</span>
      </div>
    </div>
  </div>

  <div class="content">
    
    <p class="description">
      Soufflé dessert chocolate cake icing. Pastry cookie liquorice biscuit lollipop carrot cake jujubes liquorice. Topping biscuit dragée dessert carrot cake gummi bears soufflé.

      Fruitcake halvah ice cream. Wafer candy canes topping candy canes. Toffee lollipop candy chocolate bar cotton candy muffin powder. Gingerbread macaroon biscuit apple pie.
    </p>

    <p class="date">14/04/2018</p>

    <form>
      <button>PRENDRE UN RENDEZ-VOUS</button>
    </form>

  </div>

  <!--
  <button (click)="delete(coiffure)">Delete</button>-->
</section>