.container-coiffure {

	width: 100%;

	.cover {
		position: relative;
		width: 100%;
		height: 300px;

		background-size: cover;
		background-position: center;

		.container-text {

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;

			position: absolute;
			bottom: 0;
			left: 0;

			padding: 2px 15px;

			width: 100%;
			height: 45px;

			background-color: rgba(0, 0, 0, 0.5);
			color: #fff;
			.text {
				font-size: 20px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				width: 100%;

				span {
					display: block;
					font-size: 10px;
					white-space: nowrap;
					text-overflow: ellipsis;
    				overflow: hidden;
				}
			}
		}
	}

	.content {

		padding: 0 25px;

		.description {
			font-size: 18px;
			line-height: 25px;
		}

		.date {
			width: 100%;
			text-align: right;
			font-style: italic;
		}

		form {
			button {
				outline: none;
				width: 100%;
				height: 50px;
				border-radius: 10px;
				border: none;
				font-size: 15px;
				color: #fff;
				background-color: #2B82CC;
			}
		}

	}

}