<nav>
	<ul>
		<li><i class="material-icons">home</i></li>
		<li><i class="material-icons">face</i></li>
		<li class="circle"><i class="material-icons">add</i></li>
		<li><i class="material-icons">star</i></li>
		<li><i class="material-icons">message</i></li>
	</ul>
	<div class="more">
		<div class="circle"><i class="material-icons">search</i></div>
		<div class="circle"><i class="material-icons">collections</i></div>
		<div class="circle"><i class="material-icons">collections</i></div>
		<div class="circle"><i class="material-icons">settings</i></div>
	</div>
</nav>

<div class="container">
	<router-outlet></router-outlet>
</div>