<nav>
  <ul>
    <li>
      <a routerLink="/coiffures"><i class="material-icons">home</i></a>
    </li>
    <li>
      <a routerLink="/coiffures"><i class="material-icons">face</i></a>
    </li>
    <li class="circle">
      <i class="material-icons">add</i>
    </li>
    <li>
      <a routerLink="/coiffures/add"><i class="material-icons">cloud_upload</i></a>
    </li>
    <li>
      <a routerLink="/login"><i class="material-icons">star</i></a>
    </li>
  </ul>
  <div class="more">
    <div class="circle">
      <a routerLink="/search"><i class="material-icons">search</i></a>
    </div>
    <div class="circle">
      <a routerLink=""><i class="material-icons">collections</i></a>
    </div>
    <div class="circle">
      <a routerLink=""><i class="material-icons">message</i></a>
    </div>
    <div class="circle">
      <a routerLink=""><i class="material-icons">settings</i></a>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
